<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="EnvToExecute" value="local" xdt:Transform="Insert"/>

    <add key="pluwmanager" value="su" xdt:Transform="Insert"/>
    <add key="pluwmanagerpwd" value="gw" xdt:Transform="Insert"/>

    <add key="ccplmanager" value="su" xdt:Transform="Insert"/>
    <add key="ccplmanagerpwd" value="gw" xdt:Transform="Insert"/>

    <add key="cldirector" value="su" xdt:Transform="Insert"/>
    <add key="cldirectorpwd" value="gw" xdt:Transform="Insert"/>

    <add key="cluwmanager" value="su" xdt:Transform="Insert"/>
    <add key="cluwmanagerpwd" value="gw" xdt:Transform="Insert"/>

    <add key="bcmanager" value="su" xdt:Transform="Insert"/>
    <add key="bcmanagerpwd" value="gw" xdt:Transform="Insert"/>

    <add key="ccclmanager" value="mvangomp" xdt:Transform="Insert"/>
    <add key="ccclmanagerpwd" value="gw" xdt:Transform="Insert"/>

    <add key="cmmanager" value="su" xdt:Transform="Insert"/>
    <add key="cmmanagerpwd" value="gw" xdt:Transform="Insert"/>
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="msTest" /></specFlow>
</configuration>